streamlit
pandas
matplotlib
seaborn
numpy
scikit-learn==1.2.2       # Trying a slightly older, very stable version
imbalanced-learn==0.10.1  # Compatible with scikit-learn==1.2.x
joblib
bcrypt
python-dotenv
