streamlit
pandas
matplotlib
seaborn
numpy
scikit-learn==1.7.1  # Pin to the version Streamlit Cloud installs easily
imbalanced-learn==0.12.4 # Use the correct package name and a version compatible with sklearn>=1.4
joblib
bcrypt
python-dotenv
